*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	background-color: #0A22F4;
	min-height: 308px;
	border: 2px solid blue;
}
 header h2{
	color: #FFFFFF;
	font-size: 32px;
	margin-top: 70px;
	margin-left: 240px;
}

.container div {
	display: inline-block;
	margin-left: 20px ;
 }

 a {
 	color: #171717;
 	font-size: 13px;
 	background: transparent;
 }

 img {
 	width: 370px;
 	border-radius: 15px;
 	margin: 10px;
 }

.first-project {
	position: relative;
}

.pro-first {
	position: absolute;
	top: 50px;
	left: 50px;

}
.second-project {
	position: relative;

}
.pro-second {
	position: absolute;
	top: 50px;
	left: 50px;
}

.third-project {
	position: relative;
	
}

.pro-third {
	position: absolute;
	top: 50px;
	left: 50px;

}

.fourth-project{
	position: relative;

}


.pro-fourth {
	position: absolute;
	top: 50px;
	left: 50px;
}

header {
	position: relative;
}

div {
	position: absolute;
	top: -200px;
}
	
